<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../media/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet"> 
       
    </head>

    <body class="container">

        <header class="header">
            <section id="headline">
                <div class="header_content" id="headline_title">      
                </div>
                
            </section>
        </header>

        <main class="content">
            <section>
                
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div class="form-container">
                        <div class="form_Title">City you plan to visit</div>
                        <div class="city_input">
                            <input id="city" type="text" name="input" value="" placeholder="Type your City Destination here">
                        </div>
                        <div class="startdate">Start-date</div>
                        <div class="start_input">
                            <input id="start_date" type="date" name="input" value="" placeholder="The start of your trip">
                        </div>
                        <div class="enddate">End-date</div>
                        <div class="end_input">
                            <input id="end_date" type="date" name="input" value="" placeholder="The end of your trip">
                        </div>
                        <div class="ready_to_go">If every is correct press the button</div>
                        <div class="go_button">
                            <input class="button" type="submit" name="" value="Let's Go!" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                        </div>             
                    </div>           
                    
                    
                </form>
            <section>
            
        </main>

        <footer class="footer">
            <p>Thank you!         Copyright 2020</p>
        </footer>
    
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
