<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
        
        <link rel="shortcut icon" href="../media/favicon.ico">
       
    </head>

    <body class="container">

        <header class="header">
            <section id="headline">
                <div class="header_content" id="headline_title">      
                </div>
                
            </section>
        </header>

        <main class="content">
            <section id="input_field">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="city" type="text" name="input" value="" placeholder="Type your City Destination here">
                    <input id="start_date" type="date" name="input" value="" placeholder="The start of your trip">
                    <input id="end_date" type="date" name="input" value="" placeholder="The end of your trip">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

                <section class="trip_card" id="trip">
                    <strong id="trip_headline">Your Trip</strong>
                        <div id="destination">You are going to the beautiful city of: London</div>
                        <div id="first_picture"><img src="https://pixabay.com/get/51e3d4414b51b10ff3d8992cc621377d1c3adce44e507749702f7bd29e4fc0_640.jpg" alt""=""></div>
                        <div id="dates">You go from the 2020-11-13 to the 2020-11-27</div>
                        <div id="timeframe">That is 3 days from today, and your trip duration is 14 days</div>
                        <div id="weather">Your weather will be Broken clouds</div>
                        <div id="rest">United Kingdom of Great Britain and Northern Ireland has London as its capital and a population of 65110000</div>
                        <div id="irony"></div>
                    </section>

            
        </main>

        <footer class="footer">
            <p>Thanks for coming by!          Copyright 2020</p>
        </footer>
    
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
