$bkgd-color: rgba(255,255,255,0.66);

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    flex-direction: column;
    //min-height: 100vh;
    background-image: url(../media/travel_map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    main {
        border: 1px solid #545454;
        border-radius: 5px;
        margin: 5%;
        background-color: $bkgd-color;
        width: 90%;
        flex:2;
        

    }
}

section {
    max-width: 800px;
    margin: 50px auto;
}


//------------------------------------------------------------------------
//Defining the tripcard
//------------------------------------------------------------------------


.trip_card_days {
    
    border: 1px solid #545454;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "Start End Dur Days"
      "var_start var_end var_dur var_days";
  }
  .Start { grid-area: Start; }
  .End { grid-area: End; }
  .Dur { grid-area: Dur; }
  .Days { grid-area: Days; }
  .var_start { grid-area: var_start; }
  .var_end { grid-area: var_end; }
  .var_dur { grid-area: var_dur; }
  .var_days { grid-area: var_days; }


//------------------------------------------------------------------------
//Setting the Grid
//------------------------------------------------------------------------

.container{
    display:grid;
    padding: 1em;  
  }

  .header{
    grid-area:hd;
    margin-bottom: 0.5em;
  }
  
  .footer{
    grid-area: ft;
    margin-top: 0.5em;  
  }
  
  .content{
    grid-area: co;
    //background: #FFF;
  }

/* RESPONSIVE DESIGN  <600px|600px-900px|>900px 
-----------------------------------------------------------------------*/

/* If Screen Is under 600px */
@media(max-width:599px){
    .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 125px minmax(400px,maxcontent) 60px;
      align-items: center;
      grid-template-areas:
      "hd"
      "co"  
      "ft";
      border: 2px solid white;
    }
    #headline_title{
      width: 50vw;
      height: 125px;
      background-image: url(../media/Title_SHORT.png);
      background-position: center;
    }
   
  }
    
  /* If Screen Is between 600 and 900px */
  @media(min-width:600px) and (max-width:900px){
    .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 150px minmax(1fr,maxcontent) 60px;
      grid-template-areas: 
      "hd"
      "co"
      "ft";
      border: 2px solid white;
    }
    
    #headline_title{
      width: 50vw;
      background-image: url(../media/Title_WIDE.png);
    } 
  }
  
  /* If Screen Is wider than 900px */
  @media(min-width:901px){
    .container{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 125px minmax(1fr,maxcontent) 60px;
      grid-template-areas: 
      "hd"
      "co"
      "ft";
      border: 2px solid white;
    }
      
    #headline_title{
      width: 60vw;
      height: 125px;
      background-image: url(../media/Title_WIDE.png);
    } 
  }