$bkgd-color: rgba(255,255,255,0.66);

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: $bkgd-color;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: $bkgd-color;
}

#results_headline {
    padding: 5px 10px;
    font-size: 110%;
    font-weight: bold;
}