$bkgd-color: rgba(255,255,255,0.66);


header {
    display: flex;
    justify-content: center;
    
    section {
        margin-bottom: 0px;  
    }
}

#headline_title {
    
    //border: 1px solid #545454;
    border-radius: 3px;
      
    min-width: 90vw;
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}